In [64]:
# !pip install xlrd

In [65]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSV and XLS into DataFrames

In [88]:
# gun dataframe from .csv
path1 = "Sources/1_gun-violence-data_01-2013_03-2018.csv"
gun_df = pd.read_csv(path1)
gun_df

,incident_id,date,state,address,n_killed,n_injured,congressional_district,gun_stolen,gun_type,incident_characteristics,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,01-01-13,Pennsylvania,1506 Versailles Avenue and Coursin Street,0,4,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,01-01-13,California,13500 block of Cerise Avenue,1,3,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,01-01-13,Ohio,1776 East 28th Street,1,3,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,05-01-13,Colorado,16000 block of East Ithaca Place,4,0,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,07-01-13,North Carolina,307 Mourning Dove Terrace,2,2,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239672,1083142,31-03-18,Louisiana,North Riceland Road and Highway 90,0,0,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,31-03-18,Louisiana,247 Keyser Ave,1,0,4.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Ins...",...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,31-03-18,Louisiana,1300 block of Cook Street,0,1,2.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,31-03-18,Texas,12630 Ashford Point Dr,1,0,9.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,31-03-18,Maine,434 Skowhegan Rd,2,0,2.0,0::Unknown||1::Unknown,0::Handgun||1::Shotgun,"Shot - Dead (murder, accidental, suicide)||Sui...",...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [89]:
for col in gun_df.columns:
    print(col)

incident_id
date
state
address
n_killed
n_injured
congressional_district
gun_stolen
gun_type
incident_characteristics
latitude
location_description
longitude
n_guns_involved
notes
participant_age
participant_age_group
participant_gender
participant_name
participant_relationship
participant_status
participant_type
sources
state_house_district
state_senate_district

In [90]:
gun_df.dtypes

incident_id                   int64
date                         object
state                        object
address                      object
n_killed                      int64
n_injured                     int64
congressional_district      float64
gun_stolen                   object
gun_type                     object
incident_characteristics     object
latitude                    float64
location_description         object
longitude                   float64
n_guns_involved             float64
notes                        object
participant_age              object
participant_age_group        object
participant_gender           object
participant_name             object
participant_relationship     object
participant_status           object
participant_type             object
sources                      object
state_house_district        float64
state_senate_district       float64
dtype: object

In [84]:
# income median mean dataframe from .xls
path2 = "Sources/2_median_income_by_town.xls"
# income_df = pd.read_excel(path2, index_col=0)  
income_df = pd.read_excel(path2)  

income_df

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,29021664,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64505,816,1514154,0,39.771414,-94.852143,26108,18833,20918,352.048376
16379,29021674,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64503,816,10578543,35243,39.734079,-94.776078,42033,33524,34020,664.077270
16380,29021684,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64504,816,5742604,0,39.706997,-94.847138,54108,39679,36152,161.429212
16381,29021694,29,Missouri,MO,Adair County,Faucett,Kirksville city,Track,Track,64448,816,278678068,2367382,39.613266,-94.792547,83644,300000,41165,105.592844
16382,29021704,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64507,816,9457038,991755,39.742777,-94.854829,52813,57517,24092,292.885029

In [69]:
for col in income_df.columns:
    print(col)

State_Code
State_Name
State_ab
County
City
Place
Type
Primary
Zip_Code
Area_Code
ALand
AWater
Lat
Lon
Mean
Median
Stdev
sum_w

In [70]:
# umemployment dataframe from .xls
path3 = "Sources/3_ERS_USDA_Unemployment.xls"
unempl_df = pd.read_excel(path3)
unempl_df

# pd.read_excel('tmp.xlsx', index_col=0)

,fips_txt,Stabr,area_name,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,163100055.0,157115247.0,5984808.0,3.669409,65712.0,NaN
1,1000,AL,Alabama,2241747.0,2174483.0,67264.0,3.000000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",26172.0,25458.0,714.0,2.700000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",97328.0,94675.0,2653.0,2.700000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",8537.0,8213.0,324.0,3.800000,35972.0,69.482918
...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",13037.0,11791.0,1246.0,9.600000,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",2585.0,2406.0,179.0,6.900000,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",7406.0,6231.0,1175.0,15.900000,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",8691.0,7552.0,1139.0,13.100000,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",9759.0,8331.0,1428.0,14.600000,NaN,NaN

In [72]:
for col in unempl_df.columns:
    print(col)

fips_txt
Stabr
area_name
Civilian_labor_force_2019
Employed_2019
Unemployed_2019
Unemployment_rate_2019
Median_Household_Income_2019
Med_HH_Income_Percent_of_State_Total_2019

In [74]:
# Extract poverty dataframe from .csv
path4 = "Sources/4_PovertyEstimates.csv"
poverty_df = pd.read_csv(path4)
poverty_df

,FIPStxt,Stabr,Area_name,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,PCTPOVALL_2019,CI90LBALLP_2019,CI90UBALLP_2019,POV017_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,0,US,United States,"39,490,096","39,248,096","39,732,096",12.3,12.2,12.4,"12,000,470",...,16.0,"65,712","65,594","65,830","3,457,689","3,405,854","3,509,524",18.2,17.9,18.5
1,1000,AL,Alabama,"747,478","730,491","764,465",15.6,15.2,16.0,"233,890",...,21.6,"51,771","51,179","52,363","69,236","65,296","73,176",24.2,22.8,25.6
2,1001,AL,Autauga County,"6,723","5,517","7,929",12.1,9.9,14.3,"2,040",...,19.4,"58,233","52,517","63,949",NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,"22,360","18,541","26,179",10.1,8.4,11.8,"6,323",...,17.2,"59,871","54,593","65,149",NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,"5,909","4,787","7,031",27.1,22.0,32.2,"2,050",...,49.0,"35,972","31,822","40,122",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,WY,Sweetwater County,"3,453","2,743","4,163",8.3,6.6,10.0,"1,075",...,11.1,"80,639","73,437","87,841",NaN,NaN,NaN,NaN,NaN,NaN
3189,56039,WY,Teton County,"1,396","1,073","1,719",6.0,4.6,7.4,236,...,6.7,"98,837","86,531","111,143",NaN,NaN,NaN,NaN,NaN,NaN
3190,56041,WY,Uinta County,"1,699","1,264","2,134",8.5,6.3,10.7,541,...,11.1,"70,756","63,191","78,321",NaN,NaN,NaN,NaN,NaN,NaN
3191,56043,WY,Washakie County,845,626,"1,064",11.1,8.2,14.0,237,...,17.4,"55,122","50,050","60,194",NaN,NaN,NaN,NaN,NaN,NaN
3192,56045,WY,Weston County,692,523,861,10.5,7.9,13.1,189,...,16.7,"59,410","52,275","66,545",NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
poverty_df.columns

Index(['FIPStxt', 'Stabr', 'Area_name', 'POVALL_2019', 'CI90LBALL_2019',
       'CI90UBALL_2019', 'PCTPOVALL_2019', 'CI90LBALLP_2019',
       'CI90UBALLP_2019', 'POV017_2019', 'CI90LB017_2019', 'CI90UB017_2019',
       'PCTPOV017_2019', 'CI90LB017P_2019', 'CI90UB017P_2019', 'POV517_2019',
       'CI90LB517_2019', 'CI90UB517_2019', 'PCTPOV517_2019', 'CI90LB517P_2019',
       'CI90UB517P_2019', 'MEDHHINC_2019', 'CI90LBINC_2019', 'CI90UBINC_2019',
       'POV04_2019', 'CI90LB04_2019', 'CI90UB04_2019', 'PCTPOV04_2019',
       'CI90LB04P_2019', 'CI90UB04P_2019'],
      dtype='object')

In [81]:
poverty_df.dtypes

FIPStxt              int64
Stabr               object
Area_name           object
POVALL_2019         object
CI90LBALL_2019      object
CI90UBALL_2019      object
PCTPOVALL_2019     float64
CI90LBALLP_2019    float64
CI90UBALLP_2019    float64
POV017_2019         object
CI90LB017_2019      object
CI90UB017_2019      object
PCTPOV017_2019     float64
CI90LB017P_2019    float64
CI90UB017P_2019    float64
POV517_2019         object
CI90LB517_2019      object
CI90UB517_2019      object
PCTPOV517_2019     float64
CI90LB517P_2019    float64
CI90UB517P_2019    float64
MEDHHINC_2019       object
CI90LBINC_2019      object
CI90UBINC_2019      object
POV04_2019          object
CI90LB04_2019       object
CI90UB04_2019       object
PCTPOV04_2019      float64
CI90LB04P_2019     float64
CI90UB04P_2019     float64
dtype: object

## TRANSFORM DataFrames

### TRANSFORM DataFrame Gun Violence

In [91]:
# Check gun_df columns
for col in gun_df.columns:
    print(col)

incident_id
date
state
address
n_killed
n_injured
congressional_district
gun_stolen
gun_type
incident_characteristics
latitude
location_description
longitude
n_guns_involved
notes
participant_age
participant_age_group
participant_gender
participant_name
participant_relationship
participant_status
participant_type
sources
state_house_district
state_senate_district

In [92]:
# Select needed columns
gun_cols = ["incident_id",
            "date",
            "state",
            "address",
            "n_killed",
            "n_injured",
            "latitude",
            "longitude"]
            
gun_cleaned_df= gun_df[gun_cols].copy()
gun_cleaned_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude
0,461105,01-01-13,Pennsylvania,1506 Versailles Avenue and Coursin Street,0,4,40.3467,-79.8559
1,460726,01-01-13,California,13500 block of Cerise Avenue,1,3,33.9090,-118.3330
2,478855,01-01-13,Ohio,1776 East 28th Street,1,3,41.4455,-82.1377
3,478925,05-01-13,Colorado,16000 block of East Ithaca Place,4,0,39.6518,-104.8020
4,478959,07-01-13,North Carolina,307 Mourning Dove Terrace,2,2,36.1140,-79.9569
...,...,...,...,...,...,...,...,...
239672,1083142,31-03-18,Louisiana,North Riceland Road and Highway 90,0,0,NaN,NaN
239673,1083139,31-03-18,Louisiana,247 Keyser Ave,1,0,31.7537,-93.0836
239674,1083151,31-03-18,Louisiana,1300 block of Cook Street,0,1,29.9239,-90.0442
239675,1082514,31-03-18,Texas,12630 Ashford Point Dr,1,0,29.7201,-95.6110
239676,1081940,31-03-18,Maine,434 Skowhegan Rd,2,0,44.7293,-69.7691

In [94]:
# Filter to Florida incidents

gun_FL_df = gun_cleaned_df[gun_cleaned_df['state'] == "Florida"]
gun_FL_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude
40,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837
59,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647
131,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352
151,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122
181,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278
...,...,...,...,...,...,...,...,...
239622,1082162,31-03-18,Florida,3100 block of 15th St E,0,2,27.4723,-82.5466
239628,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793
239633,1081645,31-03-18,Florida,600 block of NW Second Pl,1,0,NaN,NaN
239635,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068
239659,1082057,31-03-18,Florida,South Kirkman Road and Raleigh Street,0,3,28.5279,-81.4594

In [ ]:
# Create a filtered dataframe from specific columns
premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
premise_transformed.drop_duplicates("id", inplace=True)
premise_transformed.set_index("id", inplace=True)

premise_transformed.head()

### Transform county DataFrame

In [ ]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

### Load DataFrames into database

In [ ]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)