In [35]:
# !pip install xlrd

In [36]:
import pandas as pd
from sqlalchemy import create_engine

In [37]:
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

## Extract CSV and XLS into DataFrames

In [38]:
# gun dataframe from .csv
path1 = "Sources/1_gun-violence-data_01-2013_03-2018.csv"
gun_df = pd.read_csv(path1)
gun_df

,incident_id,date,state,address,n_killed,n_injured,congressional_district,gun_stolen,gun_type,incident_characteristics,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,01-01-13,Pennsylvania,1506 Versailles Avenue and Coursin Street,0,4,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,01-01-13,California,13500 block of Cerise Avenue,1,3,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,01-01-13,Ohio,1776 East 28th Street,1,3,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,05-01-13,Colorado,16000 block of East Ithaca Place,4,0,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,07-01-13,North Carolina,307 Mourning Dove Terrace,2,2,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239672,1083142,31-03-18,Louisiana,North Riceland Road and Highway 90,0,0,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,31-03-18,Louisiana,247 Keyser Ave,1,0,4.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Ins...",...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,31-03-18,Louisiana,1300 block of Cook Street,0,1,2.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,31-03-18,Texas,12630 Ashford Point Dr,1,0,9.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,31-03-18,Maine,434 Skowhegan Rd,2,0,2.0,0::Unknown||1::Unknown,0::Handgun||1::Shotgun,"Shot - Dead (murder, accidental, suicide)||Sui...",...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [39]:
# income median mean dataframe from .xls
path2 = "Sources/2_median_income_by_town.xls"
# income_df = pd.read_excel(path2, index_col=0)  
income_df = pd.read_excel(path2)  

income_df

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,29021664,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64505,816,1514154,0,39.771414,-94.852143,26108,18833,20918,352.048376
16379,29021674,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64503,816,10578543,35243,39.734079,-94.776078,42033,33524,34020,664.077270
16380,29021684,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64504,816,5742604,0,39.706997,-94.847138,54108,39679,36152,161.429212
16381,29021694,29,Missouri,MO,Adair County,Faucett,Kirksville city,Track,Track,64448,816,278678068,2367382,39.613266,-94.792547,83644,300000,41165,105.592844
16382,29021704,29,Missouri,MO,Adair County,St Joseph,Kirksville city,Track,Track,64507,816,9457038,991755,39.742777,-94.854829,52813,57517,24092,292.885029

In [41]:
# umemployment dataframe from .xls
path3 = "Sources/3_ERS_USDA_Unemployment.xls"
unempl_df = pd.read_excel(path3)
unempl_df

# pd.read_excel('tmp.xlsx', index_col=0)

,fips_txt,Stabr,area_name,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,163100055.0,157115247.0,5984808.0,3.669409,65712.0,NaN
1,1000,AL,Alabama,2241747.0,2174483.0,67264.0,3.000000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",26172.0,25458.0,714.0,2.700000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",97328.0,94675.0,2653.0,2.700000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",8537.0,8213.0,324.0,3.800000,35972.0,69.482918
...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",13037.0,11791.0,1246.0,9.600000,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",2585.0,2406.0,179.0,6.900000,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",7406.0,6231.0,1175.0,15.900000,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",8691.0,7552.0,1139.0,13.100000,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",9759.0,8331.0,1428.0,14.600000,NaN,NaN

In [42]:
for col in unempl_df.columns:
    print(col)

fips_txt
Stabr
area_name
Civilian_labor_force_2019
Employed_2019
Unemployed_2019
Unemployment_rate_2019
Median_Household_Income_2019
Med_HH_Income_Percent_of_State_Total_2019

In [43]:
# Extract poverty dataframe from .csv
path4 = "Sources/4_PovertyEstimates.csv"
poverty_df = pd.read_csv(path4)
poverty_df

,FIPStxt,Stabr,Area_name,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,PCTPOVALL_2019,CI90LBALLP_2019,CI90UBALLP_2019,POV017_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,0,US,United States,"39,490,096","39,248,096","39,732,096",12.3,12.2,12.4,"12,000,470",...,16.0,"65,712","65,594","65,830","3,457,689","3,405,854","3,509,524",18.2,17.9,18.5
1,1000,AL,Alabama,"747,478","730,491","764,465",15.6,15.2,16.0,"233,890",...,21.6,"51,771","51,179","52,363","69,236","65,296","73,176",24.2,22.8,25.6
2,1001,AL,Autauga County,"6,723","5,517","7,929",12.1,9.9,14.3,"2,040",...,19.4,"58,233","52,517","63,949",NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,"22,360","18,541","26,179",10.1,8.4,11.8,"6,323",...,17.2,"59,871","54,593","65,149",NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,"5,909","4,787","7,031",27.1,22.0,32.2,"2,050",...,49.0,"35,972","31,822","40,122",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,WY,Sweetwater County,"3,453","2,743","4,163",8.3,6.6,10.0,"1,075",...,11.1,"80,639","73,437","87,841",NaN,NaN,NaN,NaN,NaN,NaN
3189,56039,WY,Teton County,"1,396","1,073","1,719",6.0,4.6,7.4,236,...,6.7,"98,837","86,531","111,143",NaN,NaN,NaN,NaN,NaN,NaN
3190,56041,WY,Uinta County,"1,699","1,264","2,134",8.5,6.3,10.7,541,...,11.1,"70,756","63,191","78,321",NaN,NaN,NaN,NaN,NaN,NaN
3191,56043,WY,Washakie County,845,626,"1,064",11.1,8.2,14.0,237,...,17.4,"55,122","50,050","60,194",NaN,NaN,NaN,NaN,NaN,NaN
3192,56045,WY,Weston County,692,523,861,10.5,7.9,13.1,189,...,16.7,"59,410","52,275","66,545",NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
poverty_df.columns

Index(['FIPStxt', 'Stabr', 'Area_name', 'POVALL_2019', 'CI90LBALL_2019',
       'CI90UBALL_2019', 'PCTPOVALL_2019', 'CI90LBALLP_2019',
       'CI90UBALLP_2019', 'POV017_2019', 'CI90LB017_2019', 'CI90UB017_2019',
       'PCTPOV017_2019', 'CI90LB017P_2019', 'CI90UB017P_2019', 'POV517_2019',
       'CI90LB517_2019', 'CI90UB517_2019', 'PCTPOV517_2019', 'CI90LB517P_2019',
       'CI90UB517P_2019', 'MEDHHINC_2019', 'CI90LBINC_2019', 'CI90UBINC_2019',
       'POV04_2019', 'CI90LB04_2019', 'CI90UB04_2019', 'PCTPOV04_2019',
       'CI90LB04P_2019', 'CI90UB04P_2019'],
      dtype='object')

In [45]:
poverty_df.dtypes

FIPStxt              int64
Stabr               object
Area_name           object
POVALL_2019         object
CI90LBALL_2019      object
CI90UBALL_2019      object
PCTPOVALL_2019     float64
CI90LBALLP_2019    float64
CI90UBALLP_2019    float64
POV017_2019         object
CI90LB017_2019      object
CI90UB017_2019      object
PCTPOV017_2019     float64
CI90LB017P_2019    float64
CI90UB017P_2019    float64
POV517_2019         object
CI90LB517_2019      object
CI90UB517_2019      object
PCTPOV517_2019     float64
CI90LB517P_2019    float64
CI90UB517P_2019    float64
MEDHHINC_2019       object
CI90LBINC_2019      object
CI90UBINC_2019      object
POV04_2019          object
CI90LB04_2019       object
CI90UB04_2019       object
PCTPOV04_2019      float64
CI90LB04P_2019     float64
CI90UB04P_2019     float64
dtype: object

## TRANSFORM DataFrames

### TRANSFORM DataFrame Gun Violence

In [46]:
# Check gun_df columns
for col in gun_df.columns:
    print(col)

incident_id
date
state
address
n_killed
n_injured
congressional_district
gun_stolen
gun_type
incident_characteristics
latitude
location_description
longitude
n_guns_involved
notes
participant_age
participant_age_group
participant_gender
participant_name
participant_relationship
participant_status
participant_type
sources
state_house_district
state_senate_district

In [47]:
# Select needed columns
gun_cols = ["incident_id",
            "date",
            "state",
            "address",
            "n_killed",
            "n_injured",
            "latitude",
            "longitude"]
            
gun_cleaned_df= gun_df[gun_cols].copy()
gun_cleaned_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude
0,461105,01-01-13,Pennsylvania,1506 Versailles Avenue and Coursin Street,0,4,40.3467,-79.8559
1,460726,01-01-13,California,13500 block of Cerise Avenue,1,3,33.9090,-118.3330
2,478855,01-01-13,Ohio,1776 East 28th Street,1,3,41.4455,-82.1377
3,478925,05-01-13,Colorado,16000 block of East Ithaca Place,4,0,39.6518,-104.8020
4,478959,07-01-13,North Carolina,307 Mourning Dove Terrace,2,2,36.1140,-79.9569
...,...,...,...,...,...,...,...,...
239672,1083142,31-03-18,Louisiana,North Riceland Road and Highway 90,0,0,NaN,NaN
239673,1083139,31-03-18,Louisiana,247 Keyser Ave,1,0,31.7537,-93.0836
239674,1083151,31-03-18,Louisiana,1300 block of Cook Street,0,1,29.9239,-90.0442
239675,1082514,31-03-18,Texas,12630 Ashford Point Dr,1,0,29.7201,-95.6110
239676,1081940,31-03-18,Maine,434 Skowhegan Rd,2,0,44.7293,-69.7691

In [48]:
# Filter to Florida incidents

gun_FL_df = gun_cleaned_df[gun_cleaned_df['state'] == "Florida"]
gun_FL_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude
40,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837
59,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647
131,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352
151,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122
181,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278
...,...,...,...,...,...,...,...,...
239622,1082162,31-03-18,Florida,3100 block of 15th St E,0,2,27.4723,-82.5466
239628,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793
239633,1081645,31-03-18,Florida,600 block of NW Second Pl,1,0,NaN,NaN
239635,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068
239659,1082057,31-03-18,Florida,South Kirkman Road and Raleigh Street,0,3,28.5279,-81.4594

In [49]:
gun_FL_df = gun_FL_df.dropna()
gun_FL_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude
40,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837
59,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647
131,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352
151,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122
181,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278
...,...,...,...,...,...,...,...,...
239620,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393
239622,1082162,31-03-18,Florida,3100 block of 15th St E,0,2,27.4723,-82.5466
239628,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793
239635,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068
239659,1082057,31-03-18,Florida,South Kirkman Road and Raleigh Street,0,3,28.5279,-81.4594

In [50]:
# create list empty for cities
cities = []

# loop on gun florida dataframe
for col in gun_FL_df.columns:
    lats = gun_FL_df['latitude']
    lngs = gun_FL_df['longitude']    
# create a tuple with both latitudes and longitudes
    lat_lngs = zip(lats, lngs)
    
#     Identify nearest city for each lat, lng combination, use citipy,
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
#     # If the city is not already in our list, then add it to cities list
#     if city not in cities:
    cities.append(city)
cities

['belle glade',
 'gainesville',
 'pompano beach',
 'hialeah gardens',
 'lake city',
 'kissimmee',
 'palm springs',
 'margate',
 'richmond west',
 'carol city',
 'jacksonville',
 'gladeview',
 'homestead',
 'fort myers',
 'leisure city',
 'university park',
 'oak ridge',
 'pine castle',
 'deltona',
 'tampa',
 'lake park',
 'lauderhill',
 'university park',
 'orange park',
 'saint petersburg',
 'tampa',
 'rockledge',
 'crestview',
 'lauderhill',
 'pine castle',
 'saint petersburg',
 'pine castle',
 'palm springs',
 'crestview',
 'jacksonville',
 'lehigh acres',
 'tamarac',
 'richmond heights',
 'jacksonville',
 'south miami heights',
 'niceville',
 'jacksonville',
 'orange park',
 'north miami beach',
 'gainesville',
 'jacksonville',
 'cape coral',
 'pine hills',
 'palm springs',
 'saint cloud',
 'orange park',
 'port charlotte',
 'pine hills',
 'daytona beach',
 'lake wales',
 'fort walton beach',
 'spring hill',
 'miami beach',
 'jacksonville',
 'jacksonville',
 'orlando',
 'gainesville',
 'west little river',
 'lady lake',
 'jacksonville',
 'orlando',
 'miramar',
 'pompano beach',
 'sarasota',
 'sarasota',
 'plantation',
 'kissimmee',
 'egypt lake-leto',
 'egypt lake-leto',
 'fruitville',
 'leesburg',
 'leesburg',
 'conway',
 'pompano beach',
 'egypt lake-leto',
 'fairview shores',
 'bradenton',
 'orlando',
 'tampa',
 'saint petersburg',
 'lake city',
 'gladeview',
 'miami shores',
 'westchester',
 'lake city',
 'san carlos park',
 'oakland park',
 'miami shores',
 'golden gate',
 'lynn haven',
 'oak ridge',
 'riviera beach',
 'conway',
 'hamptons at boca raton',
 'norland',
 'tampa',
 'mount dora',
 'jacksonville',
 'richmond heights',
 'lehigh acres',
 'golden glades',
 'boynton beach',
 'lauderdale lakes',
 'lake mary',
 'oak ridge',
 'lauderdale lakes',
 'hialeah',
 'azalea park',
 'golden glades',
 'palm beach',
 'kissimmee',
 'jacksonville',
 'jacksonville beach',
 'gainesville',
 'winter haven',
 'lutz',
 'gladeview',
 'palm springs',
 'lakeland',
 'fort pierce',
 'fort lauderdale',
 'lake park',
 'coral terrace',
 'fort pierce',
 'lakeside',
 'hialeah',
 'doctor phillips',
 'scott lake',
 'miami shores',
 'miami shores',
 'fort myers',
 'mims',
 'oak ridge',
 'conway',
 'temple terrace',
 'golden gate',
 'pine hills',
 'orlando',
 'egypt lake-leto',
 'temple terrace',
 'panama city',
 'pompano beach highlands',
 'gulfport',
 'ensley',
 'dania beach',
 'jacksonville',
 'tallahassee',
 'pine hills',
 'brandon',
 'south venice',
 'mango',
 'ormond beach',
 'pine hills',
 'dania beach',
 'belle glade',
 'fort pierce',
 'miami springs',
 'jacksonville',
 'palm beach',
 'jacksonville',
 'carol city',
 'jacksonville',
 'conway',
 'century village',
 'melbourne',
 'fort myers',
 'norland',
 'royal palm beach',
 'tallahassee',
 'jacksonville',
 'leesburg',
 'jupiter',
 'wright',
 'citrus park',
 'fort pierce',
 'temple terrace',
 'orange park',
 'miami',
 'jacksonville',
 'tampa',
 'jacksonville',
 'fort myers',
 'fort pierce',
 'naples',
 'fairview shores',
 'pensacola',
 'jacksonville',
 'fairview shores',
 'lake magdalene',
 'palatka',
 'coral gables',
 'pembroke pines',
 'cooper city',
 'naples',
 'fairview shores',
 'conway',
 'pine hills',
 'forest city',
 'gladeview',
 'lake city',
 'saint petersburg',
 'fairview shores',
 'sarasota',
 'west melbourne',
 'palm springs',
 'fort pierce',
 'miramar',
 'palatka',
 'gulf gate estates',
 'palatka',
 'bradenton',
 'kissimmee',
 'south bradenton',
 'spring hill',
 'jacksonville',
 'jacksonville',
 'clermont',
 'titusville',
 'norland',
 'scott lake',
 'florida ridge',
 'naples',
 'jacksonville',
 'riviera beach',
 'doctor phillips',
 'jacksonville',
 'lynn haven',
 'riviera beach',
 'azalea park',
 'ocala',
 'holly hill',
 'north fort myers',
 'crestview',
 'azalea park',
 'palmetto',
 'lockhart',
 'margate',
 'jacksonville',
 'sanford',
 'sanford',
 'palmetto',
 'lockhart',
 'coral terrace',
 'jacksonville',
 'riviera beach',
 'gainesville',
 'jacksonville',
 'jacksonville',
 'ocala',
 'fort myers',
 'belle glade',
 'egypt lake-leto',
 'university park',
 'ormond beach',
 'jacksonville',
 'jacksonville',
 'palm coast',
 'villas',
 'jacksonville',
 'golden glades',
 'tallahassee',
 'palatka',
 'edgewater',
 'pine hills',
 'saint cloud',
 'hollywood',
 'jasmine estates',
 'conway',
 'delray beach',
 'south bradenton',
 'oviedo',
 'conway',
 'palmetto',
 'clermont',
 'lauderdale lakes',
 'egypt lake-leto',
 'ocala',
 'jacksonville',
 'gladeview',
 'saint petersburg',
 'hialeah',
 'winston',
 'port saint lucie',
 'tallahassee',
 'fort walton beach',
 'jacksonville',
 'fort myers',
 'palm bay',
 'naples',
 'egypt lake-leto',
 'egypt lake-leto',
 'norland',
 'ormond beach',
 'oviedo',
 'golden gate',
 'delray beach',
 'doctor phillips',
 'jacksonville',
 'niceville',
 'azalea park',
 'fort myers',
 'jacksonville',
 'cape coral',
 'clermont',
 'oak ridge',
 'clermont',
 'palm springs',
 'port saint lucie',
 'kissimmee',
 'saint augustine',
 'egypt lake-leto',
 'gulfport',
 'bayshore gardens',
 'jacksonville',
 'pine castle',
 'jacksonville',
 'pine hills',
 'lakeside',
 'villas',
 'lauderhill',
 'clearwater',
 'egypt lake-leto',
 'kissimmee',
 'jacksonville',
 'cocoa',
 'belle glade',
 'norland',
 'miami shores',
 'west palm beach',
 'doctor phillips',
 'richmond heights',
 'gladeview',
 'fairview shores',
 'jacksonville',
 'orange park',
 'kings point',
 'kings point',
 'englewood',
 'south bradenton',
 'daytona beach',
 'pine hills',
 'dania beach',
 'kings point',
 'lehigh acres',
 'oakland park',
 'doctor phillips',
 'pine hills',
 'north miami beach',
 'fort lauderdale',
 'temple terrace',
 'lynn haven',
 'pine hills',
 'tallahassee',
 'tallahassee',
 'sanford',
 'palmetto',
 'jacksonville',
 'university park',
 'jacksonville',
 'boynton beach',
 'dania beach',
 'lakeside',
 'miami springs',
 'azalea park',
 'port saint lucie',
 'oakland park',
 'westchester',
 'golden glades',
 'mango',
 'tampa',
 'jacksonville',
 'fernandina beach',
 'port saint lucie',
 'century village',
 'fort myers',
 'miami springs',
 'egypt lake-leto',
 'egypt lake-leto',
 'kissimmee',
 'fort lauderdale',
 'oak ridge',
 'holly hill',
 'golden glades',
 'ormond beach',
 'kissimmee',
 'jupiter',
 'conway',
 'de land',
 'lake park',
 'pembroke pines',
 'palm coast',
 'fort lauderdale',
 'cocoa',
 'davie',
 'university park',
 'fort myers',
 'homestead',
 'palmetto',
 'kissimmee',
 'plant city',
 'belle glade',
 'jacksonville',
 'north miami',
 'de land',
 'conway',
 'key biscayne',
 'orlando',
 'university park',
 'boca raton',
 'jacksonville',
 'fort myers',
 'orlando',
 'dania beach',
 'clermont',
 'dania beach',
 'orlando',
 'lake worth',
 'belle glade',
 'miami springs',
 'fort lauderdale',
 'boynton beach',
 'pembroke pines',
 'deltona',
 'pompano beach',
 'immokalee',
 'villas',
 'dania beach',
 'orange park',
 'pine castle',
 'oakland park',
 'jacksonville',
 'port saint lucie',
 'conway',
 'temple terrace',
 'oak ridge',
 'ocala',
 'lake worth',
 'south daytona',
 'egypt lake-leto',
 'conway',
 'dothan',
 'north fort myers',
 'temple terrace',
 'goldenrod',
 'fort pierce',
 'palatka',
 'fort pierce',
 'temple terrace',
 'north fort myers',
 'conway',
 'jacksonville',
 'orange park',
 'saint augustine',
 'opa-locka',
 'university park',
 'jacksonville',
 'orlando',
 'fort myers',
 'university park',
 'zephyrhills',
 'hialeah',
 'palm beach',
 'eustis',
 'oak ridge',
 'hialeah',
 'oak ridge',
 'tamiami',
 'riviera beach',
 'bradenton',
 'fort lauderdale',
 'pinellas park',
 'royal palm beach',
 'fort pierce',
 'oak ridge',
 'san carlos park',
 'largo',
 'miami shores',
 'conway',
 'sarasota springs',
 'orlando',
 'egypt lake-leto',
 'tallahassee',
 'bonita springs',
 'pine hills',
 'lakeland',
 'jacksonville',
 'fort pierce',
 'deerfield beach',
 'south bradenton',
 'south bradenton',
 'jacksonville',
 'oak ridge',
 'rockledge',
 'gainesville',
 'jacksonville',
 'orange park',
 'naples',
 'miami',
 'orlando',
 'lakeside',
 'lake park',
 'pine hills',
 'clearwater',
 'panama city',
 'naples park',
 'gladeview',
 'lockhart',
 'azalea park',
 'jacksonville',
 'naples park',
 'pompano beach',
 'temple terrace',
 'stuart',
 'palm springs',
 'ferry pass',
 'north fort myers',
 'tampa',
 'fort pierce',
 'egypt lake-leto',
 'holly hill',
 'goldenrod',
 'villas',
 'pine castle',
 'gladeview',
 'tampa',
 'jacksonville',
 'jacksonville',
 'north palm beach',
 'jacksonville',
 'cape coral',
 'north port',
 'ferry pass',
 'egypt lake-leto',
 'miami',
 'lockhart',
 'century village',
 'golden glades',
 'leisure city',
 'ives estates',
 'brent',
 'temple terrace',
 'fort myers',
 'casselberry',
 'seminole',
 'gladeview',
 'west palm beach',
 'sanford',
 'ensley',
 'egypt lake-leto',
 'dania beach',
 'kissimmee',
 'egypt lake-leto',
 'maitland',
 'riviera beach',
 'the crossings',
 'riviera beach',
 'conway',
 'bloomingdale',
 'conway',
 'orlando',
 'century village',
 'lehigh acres',
 'pine hills',
 'altamonte springs',
 'palm coast',
 'pembroke pines',
 'south miami heights',
 'tampa',
 'north andrews gardens',
 'port saint lucie',
 'century village',
 'oak ridge',
 'tallahassee',
 'cape coral',
 'university park',
 'deltona',
 'gladeview',
 'jacksonville',
 'miami',
 'deltona',
 'oak ridge',
 'jacksonville',
 'port saint lucie',
 'lakeland',
 'springfield',
 'spring hill',
 'fort myers',
 'ives estates',
 'fort pierce',
 'century village',
 'century village',
 'lake city',
 'port charlotte',
 'sebring',
 'jacksonville',
 'port saint lucie',
 'south bradenton',
 'miami',
 'lake lucerne',
 'daytona beach',
 'egypt lake-leto',
 'naples',
 'punta gorda',
 'riviera beach',
 'spring hill',
 'miami springs',
 'palm springs',
 'dania beach',
 'pine hills',
 'gladeview',
 'fort pierce',
 'jacksonville',
 'lake lucerne',
 'port charlotte',
 'azalea park',
 'egypt lake-leto',
 'daytona beach',
 'dania beach',
 'westview',
 'gainesville',
 'edgewater',
 'west melbourne',
 'orlando',
 'kissimmee',
 'pinewood',
 'lake magdalene',
 'edgewater',
 'de land',
 'hallandale beach',
 'university park',
 'golden glades',
 'dothan',
 'daytona beach',
 'south venice',
 'lake city',
 'miami',
 'cape coral',
 'plantation',
 'century village',
 'niceville',
 'royal palm beach',
 'bartow',
 'jacksonville',
 'golden gate',
 'belle glade',
 'bayshore gardens',
 'coconut creek',
 'jacksonville',
 'oak ridge',
 'bradenton',
 'oak ridge',
 'pinecrest',
 'homestead',
 'fort pierce',
 'azalea park',
 'orlando',
 'daytona beach',
 'miami shores',
 'jacksonville',
 'jacksonville',
 'south bradenton',
 'tampa',
 'azalea park',
 'dania beach',
 'north miami beach',
 'west palm beach',
 'fairview shores',
 'jacksonville',
 'lake city',
 'fairview shores',
 'egypt lake-leto',
 'cocoa',
 'north miami beach',
 'miami shores',
 'miami springs',
 'fort myers',
 'palmetto estates',
 'temple terrace',
 'saint marys',
 'riviera beach',
 'tampa',
 'fairview shores',
 'country club',
 'lehigh acres',
 'country club',
 'boca raton',
 'jacksonville',
 'kings point',
 'miami',
 'sanford',
 'jacksonville',
 'dania beach',
 'bonita springs',
 'north fort myers',
 'panama city',
 'azalea park',
 'university park',
 'san carlos park',
 'egypt lake-leto',
 'dania beach',
 'lehigh acres',
 'doctor phillips',
 'lauderhill',
 'lockhart',
 'fort pierce',
 'palmetto',
 'fort myers',
 'gainesville',
 'miami',
 'port saint lucie',
 'pompano beach',
 'lake wales',
 'pinellas park',
 'crestview',
 'apopka',
 'lauderdale lakes',
 'pompano beach highlands',
 'jacksonville',
 'egypt lake-leto',
 'mount dora',
 'jacksonville',
 'conway',
 'oak ridge',
 'delray beach',
 'sunrise',
 'lauderhill',
 'jacksonville',
 'opa-locka',
 'atlantic beach',
 'miami springs',
 'apopka',
 'jacksonville',
 'saint augustine',
 'saint augustine',
 'sarasota',
 'orlando',
 'palmetto estates',
 'fern park',
 'gainesville',
 'miami springs',
 'fort lauderdale',
 'oakland park',
 'bonita springs',
 'egypt lake-leto',
 'century village',
 'deltona',
 'conway',
 'egypt lake-leto',
 'the hammocks',
 'pine hills',
 'fairview shores',
 'panama city',
 'lauderdale lakes',
 'doctor phillips',
 'orlando',
 'jacksonville',
 'goldenrod',
 'doctor phillips',
 'opa-locka',
 'sanford',
 'palm springs',
 'west palm beach',
 'gainesville',
 'tampa',
 'deerfield beach',
 'golden gate',
 'de land',
 'jacksonville',
 'lake lucerne',
 'palatka',
 'daytona beach',
 'gladeview',
 'fort pierce',
 'gainesville',
 'plantation',
 'lakeland',
 'pinellas park',
 'naples',
 'south bradenton',
 'brent',
 'gainesville',
 'miami springs',
 'san carlos park',
 'pembroke pines',
 'coral springs',
 'miami shores',
 'conway',
 'palm springs',
 'pinellas park',
 'daytona beach',
 'oak ridge',
 'egypt lake-leto',
 'deerfield beach',
 'saint petersburg',
 'temple terrace',
 'pine hills',
 'university park',
 'tamarac',
 'miami springs',
 'rockledge',
 'bonita springs',
 'jacksonville',
 'palm coast',
 'goldenrod',
 'callaway',
 'gainesville',
 'naples',
 'jacksonville',
 'jacksonville',
 'clearwater',
 'fairview shores',
 'orlando',
 'lake worth',
 'century village',
 'lauderhill',
 'lauderdale lakes',
 'panama city',
 'jacksonville',
 'north miami beach',
 'jacksonville',
 'fort myers',
 'pine hills',
 'orlando',
 'golden glades',
 'egypt lake-leto',
 'jacksonville',
 'fort pierce',
 'lady lake',
 'deltona',
 'egypt lake-leto',
 'miami beach',
 'ocala',
 'jacksonville',
 'jacksonville beach',
 'jacksonville',
 'jacksonville',
 'lockhart',
 'century village',
 'orlando',
 'auburndale',
 'gladeview',
 'weston',
 'orange park',
 'golden gate',
 'egypt lake-leto',
 'sanford',
 'winter garden',
 'tallahassee',
 'oak ridge',
 'temple terrace',
 'san carlos park',
 'jacksonville',
 'tampa',
 'pembroke pines',
 'tallahassee',
 'bainbridge',
 'bainbridge',
 'bellview',
 'tallahassee',
 'golden gate',
 'jacksonville',
 'palm harbor',
 'tallahassee',
 'lake magdalene',
 'egypt lake-leto',
 'fort myers',
 'pine hills',
 'jacksonville',
 'north lauderdale',
 'gladeview',
 'dania beach',
 'country club',
 'gladeview',
 'sarasota springs',
 'valdosta',
 'saint augustine',
 'bradenton',
 'pompano beach',
 'sarasota',
 'ferry pass',
 'palmetto',
 'bayshore gardens',
 'gulf gate estates',
 'west pensacola',
 'florida ridge',
 'west pensacola',
 'golden glades',
 'jacksonville',
 'miami',
 'gladeview',
 'pine hills',
 'lauderhill',
 'jacksonville',
 'deltona',
 'tallahassee',
 'aventura',
 'lake magdalene',
 'bainbridge',
 'pine hills',
 'crestview',
 'carol city',
 'miami springs',
 'west little river',
 'miami shores',
 'palatka',
 'fort myers',
 'coral terrace',
 'carol city',
 'sarasota',
 'fort myers',
 'oak ridge',
 'pensacola',
 'tallahassee',
 'lehigh acres',
 'gainesville',
 'fort myers',
 'atlantic beach',
 'goldenrod',
 'jacksonville',
 'lehigh acres',
 'wright',
 'orlando',
 'holly hill',
 'goldenrod',
 'miami springs',
 'panama city',
 'north port',
 'university park',
 'orlando',
 'lynn haven',
 'goldenrod',
 'belle glade',
 'goldenrod',
 'fort myers',
 'warrington',
 'ocala',
 'dothan',
 'orange park',
 'bradenton',
 'jacksonville beach',
 'palm springs',
 'palm springs',
 'miami',
 'orlando',
 'ormond beach',
 'lake magdalene',
 'fairview shores',
 'jacksonville',
 'pinecrest',
 'safety harbor',
 'kissimmee',
 'tampa',
 'fort myers',
 'south bradenton',
 'dania beach',
 'mount dora',
 'dania beach',
 'sarasota',
 'orlando',
 'golden gate',
 'north palm beach',
 'boynton beach',
 'dothan',
 'orange park',
 'dania beach',
 'conway',
 'university park',
 'port charlotte',
 'miami springs',
 'bainbridge',
 'pine hills',
 'pompano beach highlands',
 'jacksonville',
 'egypt lake-leto',
 'orlando',
 'bainbridge',
 'boca raton',
 'fort pierce',
 'lehigh acres',
 'golden glades',
 'fort pierce',
 'villas',
 'plant city',
 'west palm beach',
 'daytona beach',
 'north port',
 'pine castle',
 'jacksonville',
 'bartow',
 'bloomingdale',
 'north port',
 'egypt lake-leto',
 'gainesville',
 'jacksonville',
 'pine castle',
 ...]

In [51]:
# Print the city count to confirm sufficient count
len(cities)

13569

In [52]:
gun_FL_df['city'] = cities
gun_FL_df

C:\Users\Admin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude,city
40,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837,belle glade
59,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647,gainesville
131,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352,pompano beach
151,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122,hialeah gardens
181,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278,lake city
...,...,...,...,...,...,...,...,...,...
239620,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393,fort pierce
239622,1082162,31-03-18,Florida,3100 block of 15th St E,0,2,27.4723,-82.5466,south bradenton
239628,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793,jacksonville
239635,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068,tallahassee
239659,1082057,31-03-18,Florida,South Kirkman Road and Raleigh Street,0,3,28.5279,-81.4594,pine hills

In [53]:
# Reset index of dataframe
gun_FL_df = gun_FL_df.reset_index(drop=True)
gun_FL_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude,city
0,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837,belle glade
1,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647,gainesville
2,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352,pompano beach
3,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122,hialeah gardens
4,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278,lake city
...,...,...,...,...,...,...,...,...,...
13564,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393,fort pierce
13565,1082162,31-03-18,Florida,3100 block of 15th St E,0,2,27.4723,-82.5466,south bradenton
13566,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793,jacksonville
13567,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068,tallahassee
13568,1082057,31-03-18,Florida,South Kirkman Road and Raleigh Street,0,3,28.5279,-81.4594,pine hills

### TRANSFORM DataFrame Income

In [54]:
for col in income_df.columns:
    print(col)

id
State_Code
State_Name
State_ab
County
City
Place
Type
Primary
Zip_Code
Area_Code
ALand
AWater
Lat
Lon
Mean
Median
Stdev
sum_w

In [55]:
# Select needed columns
income_cols = ["State_Name",
            "State_ab",
            "County",
            "City",
            "Mean",
            "Median"]
            
income_cleaned_df= income_df[income_cols].copy()
income_cleaned_df

      State_Name State_ab          County            City   Mean  Median
0        Alabama       AL   Mobile County       Chickasaw  38773   30506
1        Alabama       AL  Barbour County      Louisville  37725   19528
2        Alabama       AL   Shelby County      Columbiana  54606   31930
3        Alabama       AL   Mobile County         Satsuma  63919   52814
4        Alabama       AL   Mobile County  Dauphin Island  77948   67225
...          ...      ...             ...             ...    ...     ...
16378   Missouri       MO    Adair County       St Joseph  26108   18833
16379   Missouri       MO    Adair County       St Joseph  42033   33524
16380   Missouri       MO    Adair County       St Joseph  54108   39679
16381   Missouri       MO    Adair County         Faucett  83644  300000
16382   Missouri       MO    Adair County       St Joseph  52813   57517

[16383 rows x 6 columns]

In [57]:
income_cleaned_df = income_cleaned_df.rename(columns={"State_Name": 'state',
                                                        "City": "city",
                                                      "Mean": "mean",
                                                      "Median": "median"
                                                       })
income_cleaned_df

          state State_ab          County            city   mean  median
0       Alabama       AL   Mobile County       Chickasaw  38773   30506
1       Alabama       AL  Barbour County      Louisville  37725   19528
2       Alabama       AL   Shelby County      Columbiana  54606   31930
3       Alabama       AL   Mobile County         Satsuma  63919   52814
4       Alabama       AL   Mobile County  Dauphin Island  77948   67225
...         ...      ...             ...             ...    ...     ...
16378  Missouri       MO    Adair County       St Joseph  26108   18833
16379  Missouri       MO    Adair County       St Joseph  42033   33524
16380  Missouri       MO    Adair County       St Joseph  54108   39679
16381  Missouri       MO    Adair County         Faucett  83644  300000
16382  Missouri       MO    Adair County       St Joseph  52813   57517

[16383 rows x 6 columns]

In [64]:
# Florida income of cities and counties filtered

income_FL_df = income_cleaned_df[income_cleaned_df['State_ab'] == "FL"]
income_FL_df

        state State_ab          County                city    mean  median
5901  Florida       FL      Lee County                Alva   73064   57012
5902  Florida       FL     Clay County  Green Cove Springs   82163   69487
5903  Florida       FL   Orange County             Orlando   43567   36551
5904  Florida       FL   Orange County             Orlando  112398   90427
5905  Florida       FL     Clay County         Orange Park   53077   43800
...       ...      ...             ...                 ...     ...     ...
7557  Florida       FL  Alachua County           Opa Locka   30223   23285
7558  Florida       FL  Alachua County               Miami   37904   28825
7559  Florida       FL  Alachua County               Miami   38949   31754
7560  Florida       FL  Alachua County         North Miami   34900   29292
7561  Florida       FL  Alachua County           Opa Locka   11824    8893

[1661 rows x 6 columns]

In [65]:
income_FL_df = income_FL_df.drop_duplicates("city")
income_FL_df

        state State_ab          County                city   mean  median
5901  Florida       FL      Lee County                Alva  73064   57012
5902  Florida       FL     Clay County  Green Cove Springs  82163   69487
5903  Florida       FL   Orange County             Orlando  43567   36551
5905  Florida       FL     Clay County         Orange Park  53077   43800
5906  Florida       FL  Flagler County       Flagler Beach  51038   36323
...       ...      ...             ...                 ...    ...     ...
7519  Florida       FL  Alachua County         Summerfield  44885   38003
7520  Florida       FL  Alachua County           Belleview  52911   35488
7533  Florida       FL  Alachua County           Dunnellon  52976   44087
7543  Florida       FL  Alachua County          Indiantown  50915   38603
7544  Florida       FL  Alachua County            Aventura  84711   66195

[340 rows x 6 columns]

In [77]:
# city name to lowercase to avoid problems merging
income_FL_df["city"] = income_FL_df["city"].str.lower()
income_FL_df

       state State_ab          County                city   mean  median
0    Florida       FL      Lee County                alva  73064   57012
1    Florida       FL     Clay County  green cove springs  82163   69487
2    Florida       FL   Orange County             orlando  43567   36551
3    Florida       FL     Clay County         orange park  53077   43800
4    Florida       FL  Flagler County       flagler beach  51038   36323
..       ...      ...             ...                 ...    ...     ...
335  Florida       FL  Alachua County         summerfield  44885   38003
336  Florida       FL  Alachua County           belleview  52911   35488
337  Florida       FL  Alachua County           dunnellon  52976   44087
338  Florida       FL  Alachua County          indiantown  50915   38603
339  Florida       FL  Alachua County            aventura  84711   66195

[340 rows x 6 columns]

In [67]:
income_FL_df = income_FL_df.reset_index(drop=True)
income_FL_df

       state State_ab          County                city   mean  median
0    Florida       FL      Lee County                alva  73064   57012
1    Florida       FL     Clay County  green cove springs  82163   69487
2    Florida       FL   Orange County             orlando  43567   36551
3    Florida       FL     Clay County         orange park  53077   43800
4    Florida       FL  Flagler County       flagler beach  51038   36323
..       ...      ...             ...                 ...    ...     ...
335  Florida       FL  Alachua County         summerfield  44885   38003
336  Florida       FL  Alachua County           belleview  52911   35488
337  Florida       FL  Alachua County           dunnellon  52976   44087
338  Florida       FL  Alachua County          indiantown  50915   38603
339  Florida       FL  Alachua County            aventura  84711   66195

[340 rows x 6 columns]

In [68]:
gun_FL_merged_1_df = pd.merge(gun_FL_df, income_FL_df, how='left', on='city')
gun_FL_merged_1_df

,incident_id,date,state_x,address,n_killed,n_injured,latitude,longitude,city,state_y,State_ab,County,mean,median
0,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837,belle glade,Florida,FL,Alachua County,82801.0,73425.0
1,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647,gainesville,Florida,FL,Alachua County,39023.0,31371.0
2,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352,pompano beach,Florida,FL,Alachua County,42673.0,35358.0
3,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122,hialeah gardens,Florida,FL,Alachua County,57174.0,39071.0
4,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278,lake city,Florida,FL,Alachua County,48348.0,40683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13564,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393,fort pierce,Florida,FL,St. Lucie County,40362.0,25160.0
13565,1082162,31-03-18,Florida,3100 block of 15th St E,0,2,27.4723,-82.5466,south bradenton,NaN,NaN,NaN,NaN,NaN
13566,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793,jacksonville,Florida,FL,Alachua County,22488.0,20336.0
13567,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068,tallahassee,Florida,FL,Alachua County,53587.0,39098.0
13568,1082057,31-03-18,Florida,South Kirkman Road and Raleigh Street,0,3,28.5279,-81.4594,pine hills,NaN,NaN,NaN,NaN,NaN

In [71]:
# DRop empty fields after merging
gun_FL_merged_1_df = gun_FL_merged_1_df.dropna()
gun_FL_merged_1_df

,incident_id,date,state_x,address,n_killed,n_injured,latitude,longitude,city,state_y,State_ab,County,mean,median
0,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837,belle glade,Florida,FL,Alachua County,82801.0,73425.0
1,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647,gainesville,Florida,FL,Alachua County,39023.0,31371.0
2,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352,pompano beach,Florida,FL,Alachua County,42673.0,35358.0
3,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122,hialeah gardens,Florida,FL,Alachua County,57174.0,39071.0
4,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278,lake city,Florida,FL,Alachua County,48348.0,40683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,1082498,30-03-18,Florida,3100 W Sunrise Blvd,0,1,26.1362,-80.1865,lauderhill,Florida,FL,Alachua County,30750.0,26771.0
13561,1082144,31-03-18,Florida,118 NE 2nd St,0,0,25.7759,-80.1916,miami,Florida,FL,Miami-Dade County,61400.0,48065.0
13564,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393,fort pierce,Florida,FL,St. Lucie County,40362.0,25160.0
13566,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793,jacksonville,Florida,FL,Alachua County,22488.0,20336.0
13567,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068,tallahassee,Florida,FL,Alachua County,53587.0,39098.0

In [73]:
# drop duplicated state column after merged
gun_FL_merged_1_df = gun_FL_merged_1_df.drop(columns=['state_y'])
gun_FL_merged_1_df

,incident_id,date,state_x,address,n_killed,n_injured,latitude,longitude,city,State_ab,County,mean,median
0,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837,belle glade,FL,Alachua County,82801.0,73425.0
1,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647,gainesville,FL,Alachua County,39023.0,31371.0
2,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352,pompano beach,FL,Alachua County,42673.0,35358.0
3,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122,hialeah gardens,FL,Alachua County,57174.0,39071.0
4,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278,lake city,FL,Alachua County,48348.0,40683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,1082498,30-03-18,Florida,3100 W Sunrise Blvd,0,1,26.1362,-80.1865,lauderhill,FL,Alachua County,30750.0,26771.0
13561,1082144,31-03-18,Florida,118 NE 2nd St,0,0,25.7759,-80.1916,miami,FL,Miami-Dade County,61400.0,48065.0
13564,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393,fort pierce,FL,St. Lucie County,40362.0,25160.0
13566,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793,jacksonville,FL,Alachua County,22488.0,20336.0
13567,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068,tallahassee,FL,Alachua County,53587.0,39098.0

In [75]:
# rename state column after merged
gun_FL_merged_1_df = gun_FL_merged_1_df.rename(columns={"state_x": "state"})

In [76]:
# reset index for merged dataframe
gun_FL_merged_1_df = gun_FL_merged_1_df.reset_index(drop=True)
gun_FL_merged_1_df

,incident_id,date,state,address,n_killed,n_injured,latitude,longitude,city,State_ab,County,mean,median
0,482942,17-03-13,Florida,Northwest 16th Street and Northwest Avenue L,0,5,26.6968,-80.6837,belle glade,FL,Alachua County,82801.0,73425.0
1,485821,27-04-13,Florida,County Road 318,1,3,29.4035,-82.3647,gainesville,FL,Alachua County,39023.0,31371.0
2,490793,07-07-13,Florida,1600 block of Northwest 7th Lane,1,3,26.2489,-80.1352,pompano beach,FL,Alachua County,42673.0,35358.0
3,491265,26-07-13,Florida,1485 W 46th St,7,0,25.8640,-80.3122,hialeah gardens,FL,Alachua County,57174.0,39071.0
4,492276,25-08-13,Florida,1050 Southeast 6th Street,4,1,30.0194,-82.3278,lake city,FL,Alachua County,48348.0,40683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,1082498,30-03-18,Florida,3100 W Sunrise Blvd,0,1,26.1362,-80.1865,lauderhill,FL,Alachua County,30750.0,26771.0
9720,1082144,31-03-18,Florida,118 NE 2nd St,0,0,25.7759,-80.1916,miami,FL,Miami-Dade County,61400.0,48065.0
9721,1082808,31-03-18,Florida,2100 block of Ave N,1,0,27.4796,-80.3393,fort pierce,FL,St. Lucie County,40362.0,25160.0
9722,1081639,31-03-18,Florida,7900 Block of Lakeland St,1,0,30.3144,-81.7793,jacksonville,FL,Alachua County,22488.0,20336.0
9723,1081662,31-03-18,Florida,Basin St and W Tennessee St,1,0,30.4490,-84.3068,tallahassee,FL,Alachua County,53587.0,39098.0

In [ ]:
# Create a filtered dataframe from specific columns
premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
premise_transformed.drop_duplicates("id", inplace=True)
premise_transformed.set_index("id", inplace=True)

premise_transformed.head()

### Transform county DataFrame

In [ ]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

### Load DataFrames into database

In [ ]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)